# Adicionando as bibliotecas como parte importante do código para analise do linguist
KMIS/bibkmis/auxkmis.py linguist-language=Python
KMIS/bibkmis/heuristicaskmis.py linguist-language=Python
KMIS/bibkmis/typeskmis.py linguist-language=Python